<div class="jumbotron">
    <h1 class="display-4">welcome admin</h1>
    <p class="lead">So much of who we are is where we have been</p>
    <hr class="my-4">
    <p>here is the categorys of packages</p>
    <a class="btn btn-primary btn-lg" href="/admin/single" role="button">single</a>
    <a class="btn btn-primary btn-lg" href="/admin/admin" role="button">honey moon</a>
</div>