<div class="row">
    <div class="container col-md-4 col-md-offset-4">
        <h1>add package</h1>

        <form action="/admin/singleadd" method="post"  enctype="multipart/form-data" >

            <div class="form-group">
                <label for="name">Title</label>
                <input type="text" id="name" name="name" class="form-control" >

            </div>

            <div  class="form-group">
                <label for="description">Description 1</label>
                <input type="text" id="description" name="description1"  class="form-control">
            </div>

            <div  class="form-group">
                <label for="description2">Description 2</label>
                <input type="text" id="description2" name="description2"  class="form-control">
            </div>

            <div  class="form-group">
                <label for="price">Price</label>
                <input type="text" id="place" name="price"  class="form-control">
            </div>
            <div  class="form-group">
                <label for="persons">Persons</label>
                <input type="text" id="place" name="persons"  class="form-control">
            </div>

            <div>
                <label for="image">Upload Image</label>
                <input style="padding: 10px" type="file" id="image" name="image" value="" required>
            </div>



            <a href="/admin/single" class="btn btn-primary">Cancel</a>
            <button type="submit" class="btn btn-primary">Add+</button>
        </form>
    </div>
</div>