
<div class="row">
    <div class="container col-md-4 col-md-offset-3 ">
        <h1>sign in</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{#each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/signin" method="post" >

            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" class="form-control">

            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>



            <button type="submit" class="btn btn-primary">Sign In</button>
            <a class="btn btn-primary" href="/google">Google login</a>
           <p>Don't have an account? <a class="" href="/user/signup">Sign Up</a> </p>
        </form>

    </div>

</div>
